Data Files extracted from Google Analytics are available with below file names. Data is in Millions so did not include in here.

Time Frame - Jan 1, 2025 to Feb 15, 2025

Tool - Google Analytics and MS Excel

Domains - Gies Business and Gies Online

File Nmaes:

1. Gies_Bus_Online_Landing_Pages_Data
2. Gies_Bus_Online_Customer_Journey_Data
3. Gies_Bus_Online_Events_Data
4. Gies_Bus_Online_Tech_Data
